@charset "utf-8";

body{
    color: #707070;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    line-height: 2;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1{
    line-height: 0;
}

ul{
    padding-left: 0;
    list-style: none;
}

.inner{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

/* header */
header{
    text-align: center;
    padding: 50px 0 80px;
}

.global_nav{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.global_nav li{
    margin: 0 20px 0;
}

.global_nav a{
    color: #707070;
    text-decoration: none;
}

.global_nav .current,
.global_nav a:hover{
    color: #FFBF9D;
}

/* main */
.contents{
    margin-bottom: 40px;
}

.contents_items{
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contents_items img{
    width: 33%;
}

.contents_items .contents_text{
    width: 67%;
    margin-left: 30px;
}

.contents_text h2{
    font-size: 18px;
    line-height: 1.3;
    font-weight: normal;
    color: #303030;
    margin-bottom: 15px;
}

.other{
    background-color: #FDF5ED;
    padding: 40px 0;
}

.subscribe{
    padding-bottom: 40px;
    border-bottom: 1px solid #707070;
}

.subscribe h2{
    font-size: 26px;
    line-height: 1.3;
    color: #303030;
    margin-bottom: 30px;
}

.subscribe a{
    margin-top: 40px;
    display: inline-block;
    width: 240px;
    padding: 20px 0;
    background-color: #FFBF9D;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 1.3;
}

.information dl{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.5;
}

.information_item{
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}

.information_item dt{
    width: 100px;
    margin-right: 20px;
    padding: 5px 0;
    color: #fff;
    background-color: #303030;
    text-align: center;
}

.information dd{
    flex: 1;
}

/* footer */
footer{
    padding: 50px 0;
    text-align: center;
}

footer small{
    font-weight: bold;
    font-size: 13px;
}

@media (min-width:600px){
    /* header */
    header{
        display: flex;
        justify-content: space-between;
    }

    .global_nav{
        margin: 0;
    }

    /* main */
    .contents{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contents_items{
        width: 48.7%;
        align-items: flex-start;
    }

    .other_items{
        display: flex;
        align-items: center;
    }

    .subscribe{
        border-bottom: none;
        border-right: 1px solid #707070;
        padding-bottom: 0;
        padding-right: 30px;
        width: 57%;
    }

    .information{
        width: 43%;
    }

    .information dl{
        margin: 0;
        padding-left: 30px;
    }

    .information .email{
        word-break: break-all;
    }

    /* footer */
    footer{
        text-align: start;
    }
}